*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
}

body{
    font-family: Helvetica, sans-serif;
    color:#354463;
}

.header{
    background:white;
    text-align:center;
    padding:1rem 0;
}
.header h1{
    font-size:1.75rem;
    font-weight:700;
    line-height:1.2;
}

.hero{
    position:relative;
    background:url("./assets/assets/donation/annie-spratt-427340-unsplash@2x.png") center center/cover no-repeat;
}
option{
    color: black;
}
.overlay{
    position:absolute;
    inset:0;
    /* background:rgba(53,68,99,.55); */
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:90rem;
    margin:auto;
    padding:3rem 5rem 5rem;
    display:flex;
    justify-content:space-around;
    gap:3rem;
    align-items:flex-start;
}

.form-card{
    width:40rem;
    background:#354463;
    color:white;
    padding:4rem;
}

.form-card h2{
    font-size:2rem;
    margin-bottom:2rem;
}

.payment-title{
    margin-top:4rem;
}

.row{
    margin-bottom:1.75rem;
}

.row label{
    display:block;
    font-size:.7rem;
    margin-bottom:.5rem;
    letter-spacing:.08rem;
}

.row input,
.row select{
    width:100%;
    background:transparent;
    border:none;
    border-bottom:.1rem solid #C1F7D5;
    padding:.5rem 0;
    color:white;
}

.two{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:2rem;
}

.three{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:1.5rem;
}

.expiry{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;
}

.donation-text{
    font-size:2rem;
    font-weight:800;
    line-height:1.2;
    margin:3rem 0;
}

.actions{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.actions a{
    color:white;
    font-size:.9rem;
}

.actions button{
    border:none;
    background:#c1f7d5;
    color:#354463;
    padding:1rem 2.5rem;
    border-radius:3rem;
    font-weight:700;
    cursor:pointer;
}

.slogan{
    font-family: flood-std;
    color:white;
    letter-spacing: 0.4rem;
    font-size:5rem;
    line-height:.9;
    font-weight:700;
    padding-top:1rem;
}
/* 
.footer{
    background:white;
    padding:4rem 5rem;
    display:grid;
    grid-template-columns:1.5fr 1fr 1fr 1fr 1.2fr;
    gap:3rem;
}

.footer h4{
    font-size:.75rem;
    margin-bottom:1rem;
}

.footer p{
    font-size:.85rem;
    line-height:1.7;
}

.brand{
    font-weight:700;
}

.footer-hash{
    font-size:3rem;
    font-weight:700;
    line-height:.9;
} */


.contact-us-section{
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    flex-wrap: wrap;
}

.contact-us-card{
    color: #354463;
    /* flex: 0 0 50%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-us-title{
    font-weight: 350;
    font-size: 0.75rem;
}
.contact-us-content{
    line-height: 1.5rem;
    font-weight: 150;
    font-size: 0.7;
}
.contact-us-section-title{
    color: #354463;
    font-weight: 900;
    font-size: 1.3rem;
    width: 10rem;
    line-height: 1.5rem;
}
.text-underline{
    text-decoration: underline 0.05rem;
    text-underline-offset: 0.1rem;
}
.contact-us-section .stop-climate-change{
    /* display: flex; */
    padding: 2rem;
    justify-content: flex-end;
    color: #354463;
}
.contact-us-addr{
    width: 11rem;
}
.stop-climate-change{
    align-self: flex-start;
    color: white;
    font-family: flood-std,sans-serif;
    font-weight: bold;
    font-size: 3rem;
    font-family:"flood-std";
}
@media (max-width:64rem){

    .hero-content{
        flex-direction:column;
        align-items:center;
    }

    .slogan{
        order:-1;
        text-align:center;
        font-size:4rem;
    }

    .form-card{
        width:100%;
        max-width:40rem;
    }

    .footer{
        grid-template-columns:repeat(4,1fr);
    }

    .footer-hash{
        grid-column:1/-1;
        text-align:center;
    }
}

@media (max-width:30rem){

    .hero-content{
        padding:2rem 1rem 3rem;
    }

    .slogan{
        font-size:2.8rem;
    }

    .form-card{
        padding:2rem;
    }

    .two,
    .three{
        grid-template-columns:1fr 1fr;
    }

    .donation-text{
        font-size:1.6rem;
    }

    .actions{
        flex-direction:column-reverse;
        gap:1.5rem;
    }

    .actions button{
        width:100%;
    }

    .footer{
        grid-template-columns:1fr 1fr;
        padding:3rem 1rem;
    }

    .footer-hash{
        grid-column:1/-1;
    }
}